@{
    Style.Include("default-grid.css");
    Style.Include("style.css");
     Style.Include("bootstrap.css");
    Style.Include("bootstrap.min.css");
   // Style.Include("bootstrapTheme.css");
    Style.Include("slicknav.css");
    
}
<div class="orchard-layouts-root">
    @Display(Model.LayoutRoot)
   
</div>